<li>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="popNotification" [nzPlacement]="'bottomRight'">
        <nz-badge nzDot>
            <i nz-icon nzType="bell" theme="outline"></i>
        </nz-badge>
    </a>
    <nz-dropdown-menu #popNotification="nzDropdownMenu">
        <div nz-menu class="pop-notification">
            <div class="p-v-15 p-h-25 border-bottom d-flex justify-content-between align-items-center">
                <p class="text-dark font-weight-semibold m-b-0">
                    <i nz-icon nzType="bell" theme="outline"></i>
                    <span class="m-l-10">Notificações ({{ notificationList.length }})</span>
                </p>
                <a nz-button nzType="link" nzSize="small" class="p-v-5" [routerLink]="''">
                    <small>Ver todas</small>
                </a>
            </div>
            <perfect-scrollbar class="overflow-y-auto" style="max-height: 300px">
                <nz-list class="ant-list-item-links" [nzItemLayout]="'horizontal'">
                    <!-- <ng-template #item let-item> -->
                        <nz-list-item *ngFor="let item of notificationList">
                            <a [routerLink]="''">
                                <div class="d-flex">
                                    <nz-avatar [nzIcon]="'notification'" [ngClass]="'ant-avatar-blue'"></nz-avatar>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-dark">{{item.data.title}}</p>
                                        <p>{{ item.data.message }}</p>
                                        <p class="m-b-0"><small>{{item.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}</small></p>
                                    </div>
                                </div>
                            </a>
                        </nz-list-item>
                    <!-- </ng-template> -->
                </nz-list>
            </perfect-scrollbar>
        </div>
    </nz-dropdown-menu>
</li>