    ::ng-deep .search-area {
        text-align: left;
    }
    ::ng-deep .search-area button:not(:first-child) {
        margin-left: 8px;
    }
    ::ng-deep nz-select {
        width: 100%;
    }
