<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <!-- <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Pesquisar" [(ngModel)]="searchInput"
                            (ngModelChange)="search()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
            </div> -->
        </div>
        <div class="col-lg-4 text-right">
            <button nz-button nzType="primary" (click)="toggleModal()">
                <span>Novo</span><i nz-icon nzType="plus" theme="outline"></i>
            </button>
        </div>
        <nz-spin [nzSpinning]="isLoading">
            <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th nzWidth="60"></th>
                        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.sortFn"
                            [nzSortOrder]="column.sortOrder">
                            {{ column.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let question of sortTable.data">
                        <tr>
                            <td [nzExpand]="expandSet.has(question.id)"
                                (nzExpandChange)="onExpandChange(question.id, $event)">
                            </td>
                            <td>{{ question.identifier }}</td>
                            <td>{{ question.question }}</td>
                            <td>{{ question.answers.answers.length }}</td>
                            <td>{{ question.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>
                                <div class="d-flex">
                                    <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip
                                        nzTooltipTitle="Edit" (click)="showModalUpdate(question)">
                                        <i nz-icon nzType="edit" theme="outline"></i>
                                    </a>
                                    <button nz-button nzType="default" nzShape="circle" nz-tooltip
                                        nzTooltipTitle="Delete" nz-popconfirm nzCancelText="Cancelar"
                                        nzPopconfirmTitle="Você tem certeza que deseja deletar ?"
                                        (nzOnConfirm)="delete(question)" nzPopconfirmPlacement="topRight">
                                        <i nz-icon nzType="delete" theme="outline"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(question.id)">
                            <ul style="padding: 15px;">
                                <li *ngFor="let answer of question.answers.answers">{{ answer.answer }}</li>
                            </ul>
                        </tr>
                    </ng-container>

                </tbody>
            </nz-table>
        </nz-spin>
    </div>
</nz-card>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Cadastro de Faq" nzCancelText="Cancelar" nzOkText="Salvar"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <!-- <pre>{{ form.value | json }}</pre> -->
    <form nz-form [formGroup]="formCreate" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-form-item>
            <nz-form-label nzFor="question">Pergunta</nz-form-label>
            <nz-form-control>
                <textarea nz-input name="question" formControlName="question"></textarea>
            </nz-form-control>
        </nz-form-item>

        <div formArrayName="answers">
            <div class="d-flex justify-content-between">
                <nz-form-label>Respostas</nz-form-label>
                <button 
                    nz-tooltip 
                    [nzTooltipTitle]="'Clique para adicionar uma nova resposta'" 
                    nz-button 
                    type="button" 
                    [nzSize]="'small'" 
                    (click)="addAnswer()"
                >
                    <i nz-icon [nzType]="'plus'"></i>
                </button>
            </div>
            
            <nz-form-item *ngFor="let control of formCreate.get('answers')['controls']; let i = index" [formGroupName]="i">
                <!-- <nz-form-label *ngIf="i == 0" [nzFor]="control.controlInstance">Respostas</nz-form-label> -->
                <nz-form-control 
                    nzErrorTip="Please input passenger's name or delete this field.">
                    <textarea rows="4" class="passenger-input" nz-input placeholder="Informe aqui uma resposta" [attr.id]="control.id"
                        formControlName="answer" ></textarea>
                    <i style="cursor: pointer;" *ngIf="formCreate.get('answers')['length'] - 1" nz-icon nzType="minus-circle-o" class="dynamic-delete-button"
                        nz-tooltip 
                        [nzTooltipTitle]="'Clique para remover esta resposta'" 
                        (click)="removeField(i, $event)"></i>
                </nz-form-control>
            </nz-form-item>
        </div>

    </form>
</nz-modal>