<nz-spin [nzSpinning]="isLoading">
    <!-- <pre>{{ user | json }}</pre> -->
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-tabset>
            <nz-tab nzTitle="Dados do usuário">
                <nz-form-item>
                    <nz-form-label nzFor="email">E-mail</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="email" formControlName="email" type="email">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="social_reason">Razão Social</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="social_reason" formControlName="social_reason" type="social_reason">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="cnpj">CNPJ</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="cnpj" formControlName="cnpj" type="cnpj" [mask]="'00.000.000/0000-00'" [dropSpecialCharacters]="false">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="state_registration">Inscrição Estadual</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="state_registration" formControlName="state_registration" type="state_registration">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="phone_number">Telefone</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="phone_number" [mask]="'(00) 00000-0000'" [dropSpecialCharacters]="false" formControlName="phone_number" type="phone_number">
                    </nz-form-control>
                </nz-form-item>
            </nz-tab>

            <nz-tab nzTitle="Endereço" formGroupName="address">
                <nz-form-item>
                    <nz-form-label>Estado</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="state" formControlName="state" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Cidade</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="city" formControlName="city" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Rua</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="street" formControlName="street" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Número</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="number" formControlName="number" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Bairro</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="neighborhood" formControlName="neighborhood" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>CEP</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="cep" formControlName="cep" [mask]="'00000-000'" />
                    </nz-form-control>
                </nz-form-item>
            </nz-tab>

            <nz-tab *ngIf="user.distributor" nzTitle="Dados bancários" formGroupName="bank">
                <nz-form-item>
                    <nz-form-label>Código</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="code" formControlName="code" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Agência</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="agency" formControlName="agency" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Conta</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="account" formControlName="account" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Tipo / Operação</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="type" formControlName="type" />
                    </nz-form-control>
                </nz-form-item>
            </nz-tab>
        </nz-tabset>
    </form>


</nz-spin>