<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-12">
            <div class="">
                <p>Filtrar por:</p>
                <form nz-form [nzLayout]="'vertical'" [formGroup]="searchForm" (submit)="submitSearchForm()">
                    <div nz-row [nzGutter]="24">
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Posto</nz-form-label>
                                <nz-form-control>
                                    <input nz-input type="text" formControlName="station">
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Período</nz-form-label>
                                <nz-form-control>
                                    <nz-range-picker [nzFormat]="'dd/MM/yyyy'" formControlName="range">
                                    </nz-range-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label>Combustível</nz-form-label>
                                <nz-form-control>
                                    <nz-select style="width: 100%;" formControlName="fuel" [nzAllowClear]="true">
                                        <nz-option *ngFor="let fuel of fuelList" [nzValue]="fuel.id"
                                            [nzLabel]="fuel.name">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col [nzSpan]="24" class="search-area">
                            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="isLoading">
                                Filtrar <i nz-icon nzType="search" nzTheme="outline"></i>
                            </button>
                            <button nz-button type="button" (click)="resetForm()">
                                Limpar <i nz-icon nzType="clear" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <pre>{{ searchForm.value | json }}</pre>
            <pre>{{ search | json }}</pre>
            <pre>{{ searchFields | json }}</pre> -->

    <nz-spin [nzSpinning]="isLoading">
        <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed"
            [nzTitle]="'Lista de Lotes ('+ listOfData.length +')'">
            <thead>
                <tr>
                    <th nzWidth="60"></th>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.sortFn" [nzSortOrder]="column.sortOrder">
                        {{ column.title }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let lot of sortTable.data">
                    <tr>
                        <td [nzExpand]="expandSet.has(lot.id)" (nzExpandChange)="onExpandChange(lot.id, $event)">
                        </td>
                        <td>{{ lot.identifier }}</td>
                        <td>{{ lot.fuel.name }}</td>
                        <td>{{ lot.port.name }}</td>
                        <td>{{ totalFuel(lot) }}</td>
                        <td>{{ lot.created_at | date: 'dd/MM/yyyy HH:mm:ss': 'UTC' }}</td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(lot.id)">
                        <ng-container *ngFor="let auction of lot.auctions.auctions">
                            <nz-descriptions nzBordered>
                                <nz-descriptions-item nzTitle="ID" [nzSpan]="2">
                                    {{ auction.id }}
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Data de Criação" [nzSpan]="2">
                                    {{ auction.created_at | date: "dd/MM/yyyy HH:mm:ss": 'UTC' }}
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Frete" [nzSpan]="2">
                                    {{ auction.freight_type }}
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Qtd Combustível" [nzSpan]="2">
                                    {{ auction.fuel_amount }}
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Revendedor" [nzSpan]="2">
                                    {{ auction?.station?.user?.social_reason }}
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="CNPJ do Revendedor" [nzSpan]="2">
                                    {{ auction?.station?.user?.cnpj }}
                                </nz-descriptions-item>
                                <nz-descriptions-item
                                        nzTitle="Enviar comprovante de pagamento"
                                        [nzSpan]="2">
                                    <input nz-input
                                           type="file"
                                           name="comprovante"
                                           (change)="uploadFile($event, auction)"
                                    >
                                </nz-descriptions-item>
                                <nz-descriptions-item
                                        *ngIf="auction?.uploads?.uploads.length > 0"
                                        nzTitle="Comprovante de pagamento"
                                        [nzSpan]="2">
                                    <a [href]="auction?.uploads?.uploads[0]?.url">Visualizar
                                    </a>
                                </nz-descriptions-item>
                            </nz-descriptions>
                        </ng-container>
                    </tr>
                </ng-container>

            </tbody>
        </nz-table>
    </nz-spin>
</nz-card>
