<!-- <pre>{{ form.value | json }}</pre> -->
<nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'" [nzAutoTips]="autoTips">
        <nz-form-item>
            <nz-form-label nzFor="question">Pergunta</nz-form-label>
            <nz-form-control>
                <textarea rows="4" nz-input name="question" formControlName="question"></textarea>
            </nz-form-control>
        </nz-form-item>

        <div formArrayName="answers">
            <div class="d-flex justify-content-between">
                <nz-form-label>Respostas</nz-form-label>
                <button 
                    nz-tooltip 
                    [nzTooltipTitle]="'Clique para adicionar uma nova resposta'" 
                    nz-button 
                    type="button" 
                    [nzSize]="'small'" 
                    (click)="addAnswer()"
                >
                    <i nz-icon [nzType]="'plus'"></i>
                </button>
            </div>
            
            <nz-form-item *ngFor="let control of form.get('answers')['controls']; let i = index" [formGroupName]="i">
                <!-- <nz-form-label *ngIf="i == 0" [nzFor]="control.controlInstance">Respostas</nz-form-label> -->
                <nz-form-control 
                    nzErrorTip="Please input passenger's name or delete this field.">
                    <textarea rows="4" class="passenger-input" nz-input placeholder="Informe aqui uma resposta" [attr.id]="control.id"
                        formControlName="answer" ></textarea>
                    <i style="cursor: pointer;" *ngIf="form.get('answers')['length'] - 1" nz-icon nzType="minus-circle-o" class="dynamic-delete-button"
                        nz-tooltip 
                        [nzTooltipTitle]="'Clique para remover esta resposta'" 
                        (click)="removeField(i, $event)"></i>
                </nz-form-control>
            </nz-form-item>
        </div>

    </form>


</nz-spin>